<Game>
  <Background />
  <Ship x={10} y={10}>
    <KeyEvent onDown={(keys, prevState) => {
      const state = {};

      if (keys.indexOf(Key.w) >= 0) {
        state.y = prevState.y - 4;
      }

      if (keys.indexOf(Key.s) >= 0) {
        state.y = prevState.y + 4;
      }

      if (keys.indexOf(Key.a) >= 0) {
        state.x = prevState.x - 4;
      }

      if (keys.indexOf(Key.d) >= 0) {
        state.x = prevState.x + 4;
      }

      return state;
    }} />
  </Ship>
  <Ship x={200} y={100}>
    <BlackFlag />
  </Ship>
</Game>
