└── rideacamel
    ├── rideacamel-api-server
    ├── rideacamel-web-desktop
    ├── rideacamel-web-mobile
    ├── rideacamel-mobile
    ├── rideacamel-ui-components
    ├── rideacamel-ui-components-topbar
    ├── rideacamel-ui-components-inputbar
    ├── rideacamel-ui-components-hamburger
    ├── babel-preset-hummus
    └── eslint-config-hummus