class SceneDirector extends Component {
  constructor(props) {
    super(props);

    this.state = {
      currentScene: 'Menu',
    };
  }

  render() {
    switch (this.state.currentScene) {
      'Menu': return <Menu />;
      'Level1': return <Level1 />;
      'Level2': return <Level2 />;
      'Level3': return <Level3 />;
    }
  }
}
