<SceneDirector
  scenes={{
    MainMenu: ({ switchToScene }) => {
      const switchToLevel1 = () => switchToScene('Level1');

      return (
        <div>
          <GameButton onClick={switchToLevel1}>Switch to level 1</GameButton>
          <div style={{ textAlign: 'center' }}>This is the main menu</div>
        </div>
      );
    },
    Level1: ({ switchToScene }) => {
      const switchBack = () => switchToScene('MainMenu');

      return (
        <div>
          <GameButton onClick={switchBack}>Go back</GameButton>
          <div style={{ textAlign: 'center' }}>This is the first level</div>
        </div>
      )
    }
  }} />
