import React, { Component } from 'react';
import { Animated } from 'react-native';

export default class extends Component {
  state = { angle: new Animated.Value(0) }

  componentDidMount() {
    Animated.timing(
      this.state.angle,
      {
        toValue: 360,
        duration: 2000,
      },
    ).start();
  }

  render() {
    return (
      <Animated.View style={{
        transform: [{ rotateZ: this.state.angle }]
      }} />
    );
  }
}