import { StyleSheet } from 'react-native';

export default StyleSheet.create({
  container: {
    flex: 1,
    margin: 5,
    backgroundColor: 'green'
  },
  text: {
    fontFamily: 'Roboto',
    fontWeight: 'bold'
  }
});